---
import type { ProjectType } from "@/types/projectsType";

const { title, link, stacks, image } = Astro.props as ProjectType;
---

<article class="bg-white dark:bg-zinc-900 rounded-[15px] shadow-sm">
  <img class="block w-full h-auto rounded-tl-[15px] rounded-tr-[15px]" src={image} alt={title} />
  <div class="flex flex-col gap-3 p-6">
    <p class="text-xs">{stacks}</p>
    <a class="flex items-center justify-between" href={link}>
      <h2 class="font-bold text-lg">{title}</h2>
      <span class="hidden hover:block">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </span>
    </a>
  </div>
</article>
